# Values here are the same across all environments
generic-service:
  nameOverride: offender-events-ui
  productId: DPS091

  serviceAccountName: offender-events-ui

  image:
    repository: quay.io/hmpps/offender-events-ui
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    tlsSecretName: offender-events-ui-cert

  poddisruptionbudget:
    enabled: true
    minAvailable: 0

  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    SPRING_DATA_REDIS_SSL_ENABLED: "true"

  namespace_secrets:
    application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    oeu-sqs-instance-output:
      HMPPS_SQS_QUEUES_EVENT_QUEUE_NAME: "sqs_ptpu_name"
    oeu-sqs-dl-instance-output:
      HMPPS_SQS_QUEUES_EVENT_DLQ_NAME: "sqs_ptpu_name"
    offender-events-ui-elasticache-redis:
      SPRING_DATA_REDIS_HOST: "primary_endpoint_address"
      SPRING_DATA_REDIS_PASSWORD: "auth_token"

  allowlist:
    unilink-aovpn1: 194.75.210.216/29
    unilink-aovpn3: 78.33.10.50/31
    unilink-aovpn4: 78.33.10.52/30
    unilink-aovpn5: 78.33.10.56/30
    unilink-aovpn6: 78.33.10.60/32
    unilink-aovpn7: 78.33.32.99/32
    unilink-aovpn8: 78.33.32.100/30
    unilink-aovpn9: 78.33.32.104/30
    unilink-aovpn10: 78.33.32.108/32
    groups:
      - internal
      - unilink_staff

generic-prometheus-alerts:
  targetApplication: offender-events-ui
  sqsAlertsTotalMessagesThreshold: 20
