#header-container {
  border-bottom-color: white;
}

#header-logo {
  width: auto;
}

#navigation a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

/* needed to show navigation in header for ie8 */
#navigation {
  display: block;
}

#navigation a:focus, #navigation a:hover {
  color: white;
  text-decoration: none;
  border-bottom-color: white;
}

#cancel {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.show-password {
  display: flex;
  position: relative;
}

.show-password input {
  padding-right: 50px;
}

.show-password button {
  display: none;
  font-size: 16px;
  background-color: #f3f2f1;
  color: #0b0c0c;
  padding: 3px;
  margin-top: 7px;
  margin-left: 10px;
  width: auto;
  position: absolute;
  right: 5px;
  box-shadow: none;
}

.show-password button:focus, .show-password button:hover {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

/** copied from https://govuk-card-test--region.herokuapp.com/ **/
.auth-card {
  box-sizing: border-box;
}

.auth-card__content {
  padding-top: 15px;
  padding-bottom: 0;
}

.auth-card__content p {
  margin-bottom: 0;
}

.auth-card__content p + p {
  margin-top: 15px;
}

.incomplete {
  background-color: #005EA5;
}
