#header-container {
  border-bottom-color: white;
}

@media (min-width: 48.0625em) {
  #header-logo {
    width: 50%;
  }

  #header-content {
    width: 50%;
  }

  #navigation {
    float: right;
  }
}

.keys-values-table {
  margin-bottom: 0;
}

.keys-values-cell {
  padding: 0 20px 0 0;
}
