<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Offender Events UI</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Offender Events UI</h1>

  <div>
    <h2 class="govuk-heading-m">Messages</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Event Type</th>
        <th class="govuk-table__header" scope="col">Message Detail Key</th>
        <th class="govuk-table__header" scope="col">Message Detail Value</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr th:each="displayMessage : ${displayMessages}" class="govuk-table__row">
        <td th:text="${displayMessage.eventType}" class="govuk-table__cell"></td>
        <td class="govuk-table__cell">
          <th:block th:each="keyValuePair : ${displayMessage.messageDetails}"  >
            <span th:text="${keyValuePair.key}" />
            <br />
          </th:block>
        </td>
        <td class="govuk-table__cell" style="white-space: nowrap">
          <th:block th:each="keyValuePair : ${displayMessage.messageDetails}"  >
            <span th:text="${keyValuePair.value}" />
            <br />
          </th:block>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
